<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ @WEB_TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{{ @WEB_KEYWORD }}"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{{ @BASE_URL .'ui/css/bootstrap.min.css' }}" rel='stylesheet' type='text/css'/>
    <link href="{{ @BASE_URL .'ui/css/font-awesome.css' }}" rel='stylesheet' type='text/css'/>
    <link href="{{ @BASE_URL .'ui/css/style.css' }}" rel='stylesheet' type='text/css'/>
    <repeat group="{{@loadCSS}}" value="{{ @nama_css }}">
        <link href="{{ @BASE_URL .'ui/css/'. @nama_css .'.css' }}" rel='stylesheet' type='text/css'/>
    </repeat>
    <script src="{{ @BASE_URL .'ui/js/jquery.min.js' }}"></script>
    <script src="{{ @BASE_URL .'ui/js/bootstrap.min.js' }}"></script>
    <script src="{{ @BASE_URL .'ui/js/jquery.metisMenu.js' }}"></script>
    <script src="{{ @BASE_URL .'ui/js/jquery.slimscroll.min.js' }}"></script>
    <script src="{{ @BASE_URL .'ui/js/custom.js' }}"></script>
    <repeat group="{{@headJS}}" value="{{ @url }}">
        <script src="{{ @url }}" type="text/javascript"></script>
    </repeat>
    <style>
        .nav-second-level li {
            padding-left: 20px;
        }
    </style>
    <script>var BASE_URL = '{{ @BASE_URL }}';</script>
</head>