<div class="inbox-mail">
    <div class="col-md-4 compose">
        <form action="#" method="GET">
            <div class="input-group input-group-in">
                <input type="text" name="search" class="form-control2 input-search" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div><!-- Input Group -->
        </form>
        <h2>RT/RW</h2>
        <nav class="nav-sidebar">
            <ul class="nav tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-inbox"></i>001/001<div class="clearfix"></div></a></li>
                <li class=""><a href="#tab2" data-toggle="tab"><i class="fa fa-paper-plane-o"></i>002/001</a></li>
                <li class=""><a href="#tab3" data-toggle="tab"><i class="fa fa-star-o"></i>003/001</a></li> 
                <li class=""><a href="#tab4" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>004/001<div class="clearfix"></div></a></li>  
                <li class=""><a href="#tab5" data-toggle="tab"><i class="fa fa-trash-o"></i>005/001</a></li>                              
            </ul>
        </nav>
    </div>
    <!-- tab content -->
    <div class="col-md-8 tab-content tab-content-in">
        <div class="tab-pane active text-style" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <table class="table">
                        <tbody>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>

                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in1.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in2.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="work">work</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in3.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in4.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in5.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 3 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in6.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 2 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in7.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in8.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in9.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in10.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in11.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane text-style" id="tab2">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <table class="table">
                        <tbody>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in1.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in2.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="work">work</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in3.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in4.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in5.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 3 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in6.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 2 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane text-style" id="tab3">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <table class="table">
                        <tbody>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in6.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 2 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in7.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in8.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in9.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in10.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in11.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane text-style" id="tab4">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <table class="table">
                        <tbody>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>

                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in1.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in2.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="work">work</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in3.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in4.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in5.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 3 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane text-style" id="tab5">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <table class="table">
                        <tbody>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in1.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 5 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in3.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="fam">Family</span>
                                </td>
                                <td class="march">
                                    in 4 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in5.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>

                                </td>
                                <td class="march">
                                    in 3 days  
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in7.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 2 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in10.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="mar">Market</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-img">
                                    <img src="{{@BASE_URL}}gambar/ibu/in11.jpg" alt="">
                                </td>
                                <td class="table-text">
                                    <h6> Lorem ipsum</h6>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo</p>
                                </td>
                                <td>
                                    <span class="ur">urgent</span>
                                </td>
                                <td class="march">
                                    in 1 days 
                                </td>

                                <td>
                                    <i class="fa fa-star-half-o icon-state-warning"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>