<div class="fch-isi">
    <div class="fch-isi-nya">
        <div class="col-md-5">
            <button type="button" class="btn btn-success" id="btn-tambah">
                <span class="fa fa-plus-circle"></span> Tambah
            </button>
            <span id="row-selected" style="display: none;">
                <button type="button" class="btn btn-info" id="btn-detail">
                    <span class="fa fa-user"></span> Detail
                </button>
            </span>
        </div>
        <div class="col-md-7">
            <h5>Daftar Ibu Hamil</h5>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 ">
            <table id="table-posyandu" class="table table-bordered table-striped">
                <thead>
                    <tr class="success">
                        <th style="width: 70px; text-align: center">Foto</th>
                        <th>Kode</th>
                        <th>No KK</th>
                        <th>No KTP</th>
                        <th>Nama Ibu</th>
                        <th>Usia kehamilan</th>
                        <th>Hamil ke-</th>
                        <th style="width: 250px">Alamat</th>
                        <th>Kelurahan</th>
                        <th>Kode Posyandu</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>
</div>