<div class="fch-isi">
    <div class="fch-isi-nya">
        <div class="col-md-5">
            <button type="button" class="btn btn-success" id="btn-tambah">
                <span class="fa fa-plus-circle"></span> Tambah
            </button>
            <span id="row-selected" style="display: none;">
                <button type="button" class="btn btn-info" id="btn-detail">
                    <span class="fa fa-user"></span> Detail
                </button>
                <button type="button" class="btn btn-danger" id="btn-hapus">
                    <span class="fa fa-trash"></span> Hapus
                </button>
            </span>
        </div>
        <div class="col-md-7">
            <h5>Daftar Kader Posyandu</h5>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 ">
            <table id="table-kader" class="table table-bordered table-striped">
                <thead>
                    <tr class="success">
                        <th style="width: 70px; text-align: center">Foto</th>
                        <th>ID Kader</th>
                        <th>Nama Kader</th>
                        <th>Nama Posyandu</th>
                        <th>Kelurahan</th>
                        <th>Kecamatan</th>
                        <th>Kota</th>
                        <th>Provinsi</th>
                    </tr>
                </thead>
                <tbody>
                <repeat group="{{@list_kader}}" value="{{@kader}}">
                    <tr>
                        <td><img src="{{@BASE_URL .'gambar/petugas/ga2.jpg'}}" alt="foto" class="img-circle" width="60"></td>
                        <td>{{@kader['id']}}</td>
                        <td>{{@kader['nama']}}</td>
                        <td>{{@kader['posyandu_name']}}</td>
                        <td>{{@kader['kel_name']}}</td>
                        <td>{{@kader['kec_name']}}</td>
                        <td>{{@kader['kab_name']}}</td>
                        <td>{{@kader['prov_name']}}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<div class="modal fade" id="mdl-tambah" tabindex="-1" role="dialog" aria-labelledby="mdl-tambah" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Pendaftaran Kader</h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form-kader" action="{{@BASE_URL}}kader/simpan" method="POST">
                    <div class="form-group">
                        <label for="kader-id" class="col-sm-4 control-label">Kader ID</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" readonly="" id="kader-id" placeholder="Generated by system" name="id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kader-nama" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="kader-nama" placeholder="Nama Kader" name="nama" required="" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kader-pass" class="col-sm-4 control-label">Kata sandi</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="kader-pass" placeholder="Password" name="password" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kader-alamat" class="col-sm-4 control-label">Alamat</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="kader-alamat" placeholder="Alamat" name="alamat" required="" maxlength="150">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kader-telp" class="col-sm-4 control-label">No Telepon</label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" id="kader-telp" placeholder="telp" name="no_telp" required="" maxlength="15">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prov" class="col-sm-4 control-label">Provinsi</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="prov" id="prov" required="required">
                                <option value="0">-Pilih Provinsi-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prov" class="col-sm-4 control-label">Kota/Kab</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="kab" id="kab" disabled required="required">
                                <option value="0">-Pilih Kota/Kab-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prov" class="col-sm-4 control-label">Kecamatan</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="kec" id="kec" disabled required="required">
                                <option value="0">-Pilih Kecamatan-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prov" class="col-sm-4 control-label">Kelurahan</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="kel" id="kel" disabled required="required">
                                <option value="0">-Pilih Kelurahan-</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kader-telp" class="col-sm-4 control-label">Posyandu</label>
                        <div class="col-sm-8">
                            <select name="posyandu_id" class="form-control" id="list-posyandu" disabled="">
                                <option>-Pilih posyandu-</option>
<!--                                <repeat group="{{@list_posyandu}}" value="{{@psy}}">
                                    <option value="{{@psy['id']}}">{{@psy['id'].'-'. @psy['nama']}}</option>
                                </repeat>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-success">Simpan</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-hapus">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Apakah yakin akan menghapus data</h4>
            </div>
            
            <div class="modal-footer">
                <form action="{{@BASE_URL}}kader/hapus" method="post">
                    <input type="hidden" name="deleteid" id="delete-id">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-danger" id="btn-hapus-ibu">Hapus</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    window.LIST_KADER = {{ json_encode(@list_kader) }};
</script>