<div class="blank">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Neneng Geulis</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="{{@BASE_URL}}gambar/cewe-default.png" width="250" class="img-circle img-responsive" id="foto-anak"></div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Nama Panggilan:</td>
                                    <td>Neneng</td>
                                </tr>
                                <tr>
                                    <td>Nama Ibu:</td>
                                    <td>Ceu Popong</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Lahir:</td>
                                    <td>06/23/2013</td>
                                </tr>
                                <tr>
                                    <td>Umur</td>
                                    <td>2 tahun, 10 Bulan</td>
                                </tr>

                                <tr>
                                    <td>Jenis Kelamin</td>
                                    <td>Wanita</td>
                                </tr>
                                <tr>
                                    <td>Alamat Tinggal</td>
                                    <td>Gang Haji suleman</td>
                                </tr>
                                <tr>
                                    <td>Berat Badan</td>
                                    <td>15 Kg</td>
                                </tr>
                                <tr>
                                    <td>Tinggi Badan</td>
                                    <td>102 Cm</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
                   class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </span>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Status Gizi</h3>
            </div>
            <div class="panel-body" style="height: 450px; text-align: center">
                <!--<div class="top-content">-->
                <!--<h5>Lansia</h5>-->
                <!--<label>6295</label>-->
                <!--</div>-->
                <iframe src="http://localhost/PRJ/posyandu/lib/growthchart-master/coba.html" width="100%" height="100%"></iframe>
                <a href="../lib/growthchart-master/coba.html" class="btn btn-danger">Lihat detail</a>
            </div>
            <div class="panel-footer">
                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
                   class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
                       class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </span>
            </div>

        </div>
    </div>
</div>