<div class="blank">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{@data_anak['nama']}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="{{@BASE_URL}}gambar/{{@data_anak['foto']}}" width="250" class="img-circle img-responsive" id="foto-anak"></div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>No KMS:</td>
                                        <td>{{@data_anak['kms_id']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nama Lengkap:</td>
                                        <td>{{@data_anak['nama']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nama Ibu:</td>
                                        <td>{{@data_anak['ibu_nama']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tanggal Lahir:</td>
                                        <td>{{@data_anak['tanggal_lahir']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Umur</td>
                                        <td id="usia_anak">{{@data_anak['tanggal_lahir']}}</td>
                                    </tr>

                                    <tr>
                                        <td>Jenis Kelamin</td>
                                        <td>{{@data_anak['jenis_kelamin']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Anak ke</td>
                                        <td>{{@data_anak['urutan']}}</td>
                                    </tr>
                                    <tr>
                                        <td>ID Posyandu</td>
                                        <td>{{@data_anak['posyandu_id']}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-sm btn-primary" id="btn-timbangan"><i class="fa fa-dashboard"></i> Timbangan</button>
                    <button class="btn btn-sm btn-info" id="btn-imunisasi"><i class="fa fa-eyedropper"></i> Imunisasi</button>
                    <button class="btn btn-sm btn-warning" id="btn-catatan"><i class="fa fa-clipboard"></i> Catatan</button>
                    <a href="{{@BASE_URL}}cetak/reportpenimbangan?id={{@data_anak['id']}}" class="btn btn-sm btn-success" id="btn-cetak"><i class="fa fa-print"></i> Cetak</a>
                    <!--                <span class="pull-right">
                                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
                                           class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                    </span>-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="content-anak">
                        <h5>Berat badan terakhir</h5>
                        <label id="last_bb">8 Kg</label>
                        <div style="font-size: .7em; color: #B3AEAE"><i class="last_time">(1 bulan lalu)</i></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="content-anak">
                        <h5>Tinggi badan terakhir</h5>
                        <label id="last_tt">90 Cm</label>
                        <div style="font-size: .7em; color: #B3AEAE"><i class="last_time">(1 bulan lalu)</i></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr/>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Catatan terakhir</h3>
                </div>
                <div class="panel-body" style="min-height: 170px">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">History Pemeriksaan</h3>
                </div>
                <div class="panel-body" >
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Tanggal Pemeriksaan</th>
                                <th>Usia</th>
                                <th>Berat</th>
                                <th>Tinggi</th>
                                <th>ASI</th>
                                <th>Vit A</th>
                                <th>NT</th>
                                <th>2T</th>
                                <th>Status Gizi</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-riwayat">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-8">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Status Gizi</h3>
                </div>
                <div class="panel-body" style="height: 450px; text-align: center">
                    <!--<div class="top-content">-->
                    <!--<h5>Lansia</h5>-->
                    <!--<label>6295</label>-->
                    <!--</div>-->
                    <iframe src="http://localhost/PRJ/posyandu/lib/growthchart-master/coba.html" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Daftar Imunisasi</h3>
                </div>
                <div class="panel-body" style="height: 450px; text-align: center">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="active">
                                <th>Imunisasi</th><th>Tanggal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hepatitis B</td><td>01-Jan-15</td>
                            </tr>
                            <tr>
                                <td>Polio</td><td>01-Feb-15</td>
                            </tr>
                            <tr>
                                <td>Campak</td><td>(Belum)</td>
                            </tr>
                            <tr>
                                <td>Hepatitis A</td><td>(Belum)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-tambah-timbangan" tabindex="-1" role="dialog" aria-labelledby="mdl-tambah-timbangan" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Timbangan</h2>
            </div>
            <div class="modal-body">
                <form action="#" id="form-timbangan" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="tgl" class="col-sm-2 control-label">Tanggal</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control input-tgl-skrg" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="berat" class="col-sm-2 control-label">Berat badan</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="berat" min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tinggi" class="col-sm-2 control-label">Tinggi</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="tinggi" min="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Mohon tunggu" id="btn-submit">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-imunisasi" tabindex="-1" role="dialog" aria-labelledby="mdl-imunisasi" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Imunisasi</h2>
            </div>
            <div class="modal-body">
                <form action="#" id="form-timbangan" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="tgl" class="col-sm-2 control-label">Tanggal</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control input-tgl-skrg" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="berat" class="col-sm-2 control-label">Jenis imunisasi</label>
                        <div class="col-sm-5">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Mohon tunggu" id="btn-submit">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdl-catatan" tabindex="-1" role="dialog" aria-labelledby="mdl-catatan" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 class="modal-title">Catatan kesehatan</h2>
            </div>
            <div class="modal-body">
                <form action="#" id="form-timbangan" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="tgl" class="col-sm-2 control-label">Tanggal</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control input-tgl-skrg" required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="berat" class="col-sm-2 control-label">Jenis imunisasi</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Mohon tunggu" id="btn-submit">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.RIWAYAT= {{json_encode(@riwayat_periksa)}};
    window.RIWAYAT_TERAKHIR= {{json_encode(@data_terakhir)}};
</script>